{% extends 'base.html' %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}

{% block content_first_section %}
{% include 'includes/content-first-section.html' %}
{% endblock %}

{% block content_second_section %}
{% include 'includes/content-second-section.html' %}
{% endblock %}

{% block content_third_section %}
{% include 'includes/content-third-section.html' %}
{% endblock %}

{% block content_fourth_section %}
{% include 'includes/content-fourth-section.html' %}
{% endblock %}

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock %}

