<!-- Lock -->
<section id="lock">
    <h2>{{LOCK_TITLE}}</h2>
    <p>{{LOCK_TEXT}}</p>
</section>

<!-- Forth section -->

<div class="row forth_sec">
    <div class="col-sm-4">
        <div class="menu">
            <div class="inner_content">
                <span class="flaticon flaticon-burger"></span>
                <h2>Menu</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="drinks">
            <div class="inner_content">
                <span class="flaticon flaticon-drink"></span>
                <h2>Bebidas</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="sides">
            <div class="inner_content">
                <span class="flaticon flaticon-carbohydrate"></span>
                <h2>Doces</h2>
            </div>
        </div>
    </div>
</div><!-- forth section end -->