<!-- Third section -->
<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for it in THIRD_CONTENT_CAROUSEL %}
            <li data-target="#carousel" data-slide-to="{{ loop.index - 1}}" {% if loop.index == 1 %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <!-- carousel inner -->
    <div class="carousel-inner" role="listbox">
        {% for it in THIRD_CONTENT_CAROUSEL %}
        <div class="{% if loop.index == 1 %}item active{% else %}item{% endif %}">
            <img src="{{SITEURL}}/theme/images/{{it.image}}" alt="{{it.name}}">
            <div class="carousel-caption">
                <h2>{{ it.name|title }}</h2>
                <p>{{ it.desc|capitalize }}</p>
            </div>
        </div>
        {% endfor %}
    </div><!-- carousel inner end -->
</div><!-- Carousel end-->