<!-- Third section -->
<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for it in THIRD_CONTENT_CAROUSEL %}
        <li data-target="#carousel" data-slide-to="{{loop.index - 1}}" {%if loop.index== 1%}class="active" {%endif%}></li>
        {% endfor %}
    </ol>

    <!-- carousel inner -->
    <div class="carousel-inner" role="listbox">
        {% for it in THIRD_CONTENT_CAROUSEL %}
        <div class="{% if loop.index == 1 %}item active{% else %}item{% endif %}">
            <img class="image-process-large-carousel" src="{{SITEURL}}/images/terceira-sessao/{{it.image}}" alt="{{it.name}}">
            <div class="carousel-caption">
                <h2>{{ it.name|title }}</h2>
                {% set ingredients = it.desc.split(',') %}
                <p style="font-weight: bold">
                    {% for it in ingredients %} * {{it}} {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div><!-- carousel inner end -->
</div><!-- Carousel end-->