<!-- Second section -->
<div class="row">
    <div class="col-md-6">
        <div class="classic">
            <span class="classic_btn">Clássico</span>
            <div class="overlay">
                <h3>{{ SECOND_CONTENT_CLASSIC.name|title }}</h3>
                <p>
                    {% set ingredients = SECOND_CONTENT_CLASSIC.desc.split(',') %}
                    {% for it in ingredients %} * {{it}} {% endfor%}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- Carousel -->
        <div id="small_carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for it in SECOND_CONTENT_CAROUSEL %}
                <li data-target="#small_carousel" data-slide-to="{{ loop.index - 1}}" {% if loop.index== 1
                    %}class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-caption">
                <h3>OS MAIS VENDIDOS</h3>
                <hr/>
                <div class="clearfix"></div>
            </div>
            <!-- carousel inner -->
            <div class="carousel-inner" aria-label="Mais Vendidos" role="listbox">
                {% for it in SECOND_CONTENT_CAROUSEL %}
                <div role="option" class="{% if loop.index == 1 %}item active{% else %}item{% endif %}">
                    <span class="info_btn">{{ it.name|title }}</span>
                    <img class="image-process-small-carousel" src="{{SITEURL}}/images/segunda-sessao/{{it.image}}" alt="{{it.name}}"/>
                </div>
                {% endfor %}
            </div><!-- carousel inner end -->
        </div><!-- Carousel end-->
    </div>
</div><!-- second section end -->