<!-- Second section -->
<div class="row">
    <div class="col-md-6">
        <div class="classic" style="background: url({{SITEURL}}/theme/images/segunda-sessao/{{SECOND_CONTENT_CLASSIC.image}})no-repeat;
        background-size: 100% 100%;margin-top:25px;height:360px;position:relative;overflow:hidden;">
            <span class="classic_btn">Clássico</span>
            <div class="overlay">
                <h3>{{ SECOND_CONTENT_CLASSIC.name|title }}</h3>
                <p class="overlay_content" style="font-weight: bold;">
                    {% set ingredients = SECOND_CONTENT_CLASSIC.desc.split(',') %}
                    {% for it in ingredients %}
                    <span class="glyphicon-asterisk">{{it}}</span>
                    {% endfor%}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- Carousel -->
        <div id="small_carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for it in SECOND_CONTENT_CAROUSEL %}
                <li data-target="#small_carousel" data-slide-to="{{ loop.index - 1}}" {% if loop.index== 1
                    %}class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-caption">
                <h3>OS MAIS VENDIDOS</h3>
                <hr/>
                <div class="clearfix"></div>
            </div>
            <!-- carousel inner -->
            <div class="carousel-inner" role="listbox">
                {% for it in SECOND_CONTENT_CAROUSEL %}
                <div class="{% if loop.index == 1 %}item active{% else %}item{% endif %}">
                    <span class="info_btn">{{ it.name|title }}</span>
                    <img src="{{SITEURL}}/theme/images/segunda-sessao/{{it.image}}" alt="{{it.name}}"/>
                </div>
                {% endfor %}
            </div><!-- carousel inner end -->
        </div><!-- Carousel end-->
    </div>
</div><!-- second section end -->