<!-- Lock -->
<section id="lock">
    <h2>{{LOCK_TITLE}}</h2>
    <p>{{LOCK_TEXT}}</p>
</section>

<!-- Forth section -->

<div class="row forth_sec">
    <div class="col-sm-4">
        <div class="menu"
             style="background: url({{SITEURL}}/theme/images/quarta-sessao/menu_bg.jpg)no-repeat;background-size: 100% 100%;">
            <div class="inner_content">
                <span class="flaticon flaticon-burger"></span>
                <h2>Menu</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="drinks"
             style="background: url({{SITEURL}}/theme/images/quarta-sessao/drinks_bg.jpg)no-repeat;background-size: 100% 100%;">
            <div class="inner_content">
                <span class="flaticon flaticon-drink"></span>
                <h2>Bebidas</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="sides"
             style="background: url({{SITEURL}}/theme/images/quarta-sessao/sides_bg.jpg)no-repeat;background-size: 100% 100%;">
            <div class="inner_content">
                <span class="flaticon flaticon-carbohydrate"></span>
                <h2>Doces</h2>
            </div>
        </div>
    </div>
</div><!-- forth section end -->