<!-- Forth section -->
<div class="row forth_sec">
    <div class="col-sm-4">
        <div class="menu">
            <div class="inner_content">
                <span class="flaticon flaticon-burger"></span>
                <h2>menu</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="drinks">
            <div class="inner_content">
                <span class="flaticon flaticon-drink"></span>
                <h2>drinks</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="sides">
            <div class="inner_content">
                <span class="flaticon flaticon-food"></span>
                <h2>sides</h2>
            </div>
        </div>
    </div>
</div><!-- forth section end -->