<!-- Header -->
<header style="background: url({{SITEURL}}/theme/images/capa/capa.jpg)no-repeat;
background-size: 100% 100%;
color: #f1f1f1;overflow: hidden;">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner">
                    <h3>{{HEADER.title}}</h3>
                    <h1>{{HEADER.subtitle}}</h1>

                    <div class="inner_banner">
                        <div class="banner_content">
                            {% set ingredients = HEADER.text.split(',') %}
                            <p style="font-weight: bold">{% for it in ingredients %}* {{it}} {% endfor %}</p>
                        </div>
                        <div class="stamp">
                            <img src="{{SITEURL}}/theme/images/capa/stamp.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container end -->
</header><!-- Header end -->