<!-- Header -->
<header>
    <!-- Container -->
    <div class="container">
        <div class="row header-1400">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner">
                    <h3 class="hidden-xs">{{HEADER.title}}</h3>
                    <h1 class="hidden-xs">{{HEADER.subtitle}}</h1>

                    <div class="inner_banner hidden-sm hidden-xs">
                        <div class="banner_content">
                            {% set ingredients = HEADER.text.split(',') %}
                            <p>{% for it in ingredients %}* {{it}} {% endfor %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container end -->
</header><!-- Header end -->